API_HOST=0.0.0.0
API_PORT=8080
INGEST_API_KEY=change-me
AQUADET_FRAME_WIDTH=1280
AQUADET_FRAME_HEIGHT=720
AQUADET_FOCAL_MM=4.25
AQUADET_SENSOR_WIDTH_MM=6.17
AQUADET_ENABLE_PI_GE=true
AQUADET_TRACKER=bytetrack
